{% extends "base.html" %}
{% block content %}
                <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h4 class="mb-0">
                        {{object.name}}
                    </h4>
                    <p class="lead mb-5">
                        <dl>
                            <dt>Компания</dt><dd>{{object.company}}</dd>
                            <dt>Описание</dt><dd>{{object.description}}</dd>
                            <dt>Трудоустройство</dt>
                            <dd>{{object.employment}}</dd>
                            <dt>Опыт</dt><dd>{{object.experience}}</dd>
                            <dt>Величина зарплаты</dt><dd>{{object.salary}}</dd>
                            <dt>Тип занятости</dt><dd>{{object.schedule}}</dd>
                            <dt>Что нужно</dt><dd>{{object.requirement}}</dd>
                            <dt>Чем заниматься</dt>
                            <dd>{{object.responsibility}}</dd>
                            <dt>Роли</dt><dd>{{object.role}}</dd>
                            <dt>Специализация</dt>
                            {% for specialization in object.specialization.all %}
                                <li>{{specialization}}</li>
                            {% endfor %}
                            <dt>Ссылка на страницу вакансии в hh.ru</dt>
                            <dd>{{object.url}}</dd>
                            <dt>Необходимые навыки</dt>
                            {% for skill in object.skill.all %}
                                <li>{{skill}}</li>
                            {% endfor %}
                        </dl>
                        <a href="{% url 'parser:results' %}">Назад</a>
                    </p>
                </div>
            </section>
            <hr class="m-auto" />
        </div>
{% endblock %}
